<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Schedule</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Class Schedule: {{selected_class}}</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="classForm" method="post">
                    <select id="classSelector" name="selectedClass" class="form-control">
                        <!-- Populate the options dynamically based on your class names -->
                        <option value="classSelector">Choose a class...</option>
                        {% for class in classes %}
                            <option value={{class}}>{{class}}</option>
                        {% endfor %}

                        <!-- Add more options for other classes -->
                    </select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Replace the sample data with your actual class schedule -->
                        <tr>
                            <td>
                                08:30 - 09:15
                            </td>
                            {% for day in range(6) %}
                                {% if day < lessons[0]|length %}
                                    <td>{{ lessons[0][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>09:15 - 10:00</td>
                            {% for day in range(6) %}
                                {% if day < lessons[1]|length %}
                                    <td>{{ lessons[1][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}

                        </tr>
                        <tr>
                            <td>10:20 - 11:10</td>
                            {% for day in range(6) %}
                                {% if day < lessons[2]|length %}
                                    <td>{{ lessons[2][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>11:10 - 11:55</td>
                            {% for day in range(6) %}
                                {% if day < lessons[3]|length %}
                                    <td>{{ lessons[3][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>12:10 - 12:55</td>
                            {% for day in range(6) %}
                                {% if day < lessons[4]|length %}
                                    <td>{{ lessons[4][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>12:55 - 13:35</td>
                            {% for day in range(6) %}
                                {% if day < lessons[5]|length %}
                                    <td>{{ lessons[5][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>13:50 - 14:35</td>
                            {% for day in range(6) %}
                                {% if day < lessons[6]|length %}
                                    <td>{{ lessons[6][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>14:35 - 15:20</td>
                            {% for day in range(6) %}
                                {% if day < lessons[7]|length %}
                                    <td>{{ lessons[7][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>15:20 - 16:00</td>
                            {% for day in range(6) %}
                                {% if day < lessons[8]|length %}
                                    <td>{{ lessons[8][day][4] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <!-- Add more rows for other time slots -->
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{{ url_for('login_page') }}" class="btn btn-primary">Teacher login</a>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const classSelector = document.getElementById("classSelector");
        const classForm = document.getElementById("classForm");

        classSelector.addEventListener("change", () => {
            classForm.submit()
        });

    </script>
</body>
</html>
